name: Build demo

on:
  push:
    branches:
      - main

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'setup.cfg'
      - run: |
          sudo apt-get update
          sudo apt-get install ffmpeg
      - run: make devinstall
      - run: make demo
